<div class="header">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">Chinese APP - 中国</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/initiales">initiales</a>
          <a class="dropdown-item" href="/finales">finales</a>
          <a class="dropdown-item" href="/tons">tons</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fullword">HARDCORE</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/translation">Translation</a>
      </li>

    </ul>
  </div>


</nav>
</div>

