<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills ">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="statistiques">Stats</a></li>
                    <li role="presentation"><a href="logout">log out</a></li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Chinese APP - 中国</h1>
            <p class="lead"></p>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Initiales</h4>
                <p>Listen from a define or random list of words and train your ear to know wich initiale the word <b>start</b> with</p>
                <p><a class="btn btn-lg btn-success" href="initiales" role="button" style="background-color:#FF5522;border:none">Start</a></p>
                
                <h4>Finales</h4>
                <p>Listen from a define or random list of words and train your ear to know wich initiale the word <b>ends</b> with</p>
                <p><a class="btn btn-lg btn-success" href="finales" role="button">Start</a></p>
                
                <h4>Tons</h4>
                <p>Listen from a define or random list of words and train your ear to know the <b>tons</b></p>
                <p><a class="btn btn-lg btn-success" href="tons" role="button">Start</a></p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Sun Wu Kong - 孙悟空 - 2017</p>
        </footer>
 
    </div>
</body>
 
</html>