<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>

<body>
    <div class="container">
        {% include "header.html" %} 
        <div class="jumbotron">
                <form class="from-signin" action="/initiales" method="POST">
				
				{% for i in range(valeur|length) %}
					<audio controls >
						<source src="{{ musicFiles[i] }}" type="audio/mp3"/>
					</audio>
					<label for={{ valeur[i] }} class="sr-only">{{ valeur[i] }}</label>
          <input type="text" name={{ valeur[i] }} class="form-control" placeholder={% if valeur[i] in ["zh","ch","sh"] %} {{ valeur[i][2:] }} {% else %} {{ valeur[i][1:] }} {% endif %}>
					</br>
				{% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Validate</button>
                </form>
            <p class="lead"></p>
            </p>
        </div>
    </div>
</body>
</html>
