<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script src="https://cdn.jsdelivr.net/npm/hanzi-writer@1.1/dist/hanzi-writer.min.js"></script>

</head>
<body class="bg-dark">
  <div class="container bg-light">
    {% include "header.html" %}
<!-- Button trigger modal -->
<!-- Modal -->
</br>
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="info">Initiales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your goal is to find the finale of the word based on the sound you will hear:</p>
        <p>The finale have been remove and it's your job to find it back after hearing the sound fill in the answer</p>
        <p>example: sound plays is jiào, the initiale and tons of the words are j...4, you need to answer by jiao4</p>
        <p>Hint: Tons - / V \</p>
        <table class="table" style="width:100%">
          <tbody>
            <tr>
              <td>jiao1</td>
              <td> jiāo</td>
            </tr>
            <tr>
              <td>jiao2</td>
              <td> jiáo</td>
            </tr>
            <tr>
              <td>jiao3</td>
              <td> jiǎo</td>
            </tr>
            <tr>
              <td>jiao4</td>
              <td> jiào</td>
            </tr>
          </tbody>
        </table>
        <table class="table" style="width:100%">
          <thead class="thead-dark">
            <tr>
 <th scope="col" style="width:2%"> # </th>
<th scope="col" style="width:10%"> Sound </th>
              <th scope="col" style="width:88%"> Answer </th>
            </tr>
          </thead>
        <tbody>
        <tr>
        <th scope="row">1</th>
              <td>
                <audio controls >
                  <source src="../static/music/jiao4.mp3" type="audio/mp3"/>
                </audio>
              </td>
              <td>
                <label class="sr-only">j...4</label>
                <input type="text" name="jiao4" class="form-control" placeholder="iao4">
              </td>
        </tr>
     </tbody>
     </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-lg btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<table class="table" style="width:100%">
     <thead class="thead-dark">
     <tr>
       <th scope="col" style="width:88%"> Answer </th>
     </tr>
     </thead>
     <tbody>
    <form action="/stroke" method="POST">
       <tr>
         <td>
           <label for="text" class="sr-only">text</label>
           <input type="text" name="text" class="form-control" placeholder="...">
        </td>
<tr>
<td>
{{ textPinyin }}
</tr>
</td>


<tr>
<td>

<div id="target"></div>
<script>
function renderFanningStrokes(target, strokes) {
  var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
  svg.style.width = '75px';
  svg.style.height = '75px';
  svg.style.border = '1px solid #EEE'
  svg.style.marginRight = '3px'
  target.appendChild(svg);
  var group = document.createElementNS('http://www.w3.org/2000/svg', 'g');

  // set the transform property on the g element so the character renders at 75x75
  var transformData = HanziWriter.getScalingTransform(75, 75);
  group.setAttributeNS(null, 'transform', transformData.transform);
  svg.appendChild(group);

  strokes.forEach(function(strokePath) {
    var path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
    path.setAttributeNS(null, 'd', strokePath);
    // style the character paths
    path.style.fill = '#555';
    group.appendChild(path);
  });
}
HanziWriter.loadCharacterData({{ text|tojson }}).then(function(charData) {
  var target = document.getElementById('target');
  for (var i = 0; i < charData.strokes.length; i++) {
    var strokesPortion = charData.strokes.slice(0, i + 1);
    renderFanningStrokes(target, strokesPortion);
  }
});
</script>

</td>
</tr>
<tr>
<td>
<audio controls >
  <source src="{{ sound }}" type="audio/mp3"/>
</audio>
</td>
       </tr>
     </tbody>
     </table>

 <div class="float-right">
       <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#info">INFO</button>
<button class="btn btn-lg btn-warning" type="submit">Validate</button>
     </div>

</form>








</body>
</html>









